.photo{
    width: 100%;
    height: 400px;
    
    box-sizing: border-box;
    
}
.card{
    border-radius: 6px;
    box-shadow: 2px 4px 25px rgba(19, 19, 19,0.4);
    width: 40%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.description{
    background-color: #FF6E31;
    color: white;
    padding: 10px 5px;
    border-top: 1.2px solid rgba(255, 255, 255, 0.2);
    
    align-self: stretch;
    display: flex;
    gap:8px;
}
.tags{
    background-color: #FF6E31;
    color: rgb(32, 59, 170);
    align-self: stretch;
    padding: 2px 5px;
    text-align: end;
    border-bottom: 1.2px solid rgba(126, 3, 126,0.2);
}
@media screen and (max-width:900px){
    .card{
        flex-basis: 80%;
    }
    
}
@media screen and (max-width:430px){
    .card{
        flex-basis: 100%;
    }
    
}
