*{
    padding: 0;
    margin: 0;
}
.Header{
    border-radius: 6px 6px 0px 0px;
    box-sizing: border-box;
    padding: 20px 0px;
    background-color: #0066bb;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap:5px;
    width: 100%;
}
.Header i{
    font-size: 18px;
    background-color: white;
    color: black;
    padding: 5px;
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 50%;
}