.list{
    display: flex;
    font-size: larger;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #FFEBB7;
    width: 100%;
    padding: 10px 10px;
    list-style: none;
    gap:10px;
}
.list li{
    cursor: pointer;
}
.comments{
    margin-right: 4px;
}
.star{
    margin-left: auto;
}
.liked{
    color: red;
}
.starred{
    color: blue;
}